<div class="calculator {{toggle.mode}}">
    <app-toggle></app-toggle>


    <div class="calculator-result">
        <div class="show-result">
            <p id="enteredvalue" [ngClass]="{'large': showstatus}"></p>
            <p id='calcresult' [ngClass]="{'large': showstatus}"></p>
        </div>

    </div>
    <div class="claculator-keys" *ngIf="!toggle.scMode">
        <button class="sign-type{{btn.type}}" [disabled]='btn.disabled' *ngFor='let btn of buttons'
            (click)="calcexp(btn.sign)" [value]="btn.sign"> <i class="fas {{btn.html}}"></i>{{btn.html? ''
            :btn.sign}}</button>
    </div>
    <div class="claculator-keys" *ngIf="toggle.scMode">
        <button class="sign-type{{btn.type}}" [disabled]='btn.disabled' *ngFor='let btn of scbutton'
            (click)="calcexp(btn.sign)" [value]="btn.sign"> <i class="fas {{btn.html}}"></i>{{btn.html? ''
            :btn.sign}}</button>
    </div>
</div>