<div class="calculator {{toggle.mode}}">
    <app-toggle></app-toggle>


    <div class="calculator-result">
        <div class="show-result">
            <p id="enteredvalue" [ngClass]="{'large': showstatus}"></p>
            <p id='calcresult' [ngClass]="{'large': showstatus}"></p>
        </div>

    </div>
    <div class="claculator-keys" *ngIf="!toggle.scMode">
        <button class="sign-type{{btn.type}}" [disabled]='btn.disabled' *ngFor='let btn of buttons'
            (click)="calcexp(btn.sign)" [value]="btn.sign"> {{btn.html? btn.html
            :btn.sign}}</button>
    </div>
    <div class="claculator-keys sci-mode" *ngIf="toggle.scMode">
        <button class=" red-deg" [ngClass]="{'active': !toggle.isDeg}" (click)="degRad('r')">Rad</button>
        <button class="red-deg" [ngClass]="{'active': toggle.isDeg}" (click)="degRad('d')">Deg</button>
        <button [ngClass]="{'active': invsci}" (click)=" invsci = ! invsci">Inv</button>
        <ng-container *ngFor='let btn of scbutton'>
            <button class="sign-type{{btn.type}}" *ngIf="btn.isVisible? !invsci : btn.isHide? invsci : true"
                [disabled]='btn.disabled' (click)="calcexp(btn.sign)" [value]="btn.sign">
                {{btn.sign | slice:0:3 }}<sup>{{btn.sign | slice:3}}</sup></button>
        </ng-container>


    </div>
</div>