.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .toggel-btn {
    background: rgb(167, 167, 167);
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 35px;
    border-radius: 15px;
    overflow: hidden;
    border: none;


    a {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 50%;
      height: 100%;
      color: rgb(161, 161, 161);
      cursor: pointer;
      transition: all .2s ease-in;
    }

    a:active {
      transform: scale(.99);
    }

    a.dark {
      color: #eee;
    }

    a.light {
      color: #333;
    }


  }



  .toggel-btn.dark {
    background: #333;
  }

  .toggel-btn.light {
    background: #f5f5f5;
  }
}

.sci-btn {
  top: 27%;
  left: 10px;
  justify-content: flex-start;

  .toggel-btn {
    background: rgb(177, 140, 212) !important;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 35px;
    border-radius: 15px;

    a {
      color: #666;
    }

    a.sci {
      color: #FFF
    }


  }
}
